.app-container {
  width: 1140px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0 auto;
  padding: 16px 15px;
  color: #091e42;
}
.app-container-p {
  /* width: 760px; */
  height: 50.42px;
  padding: 0 15px;
  font-size: 20px;
}
.app-apple-google-container {
  display: flex;
}
.app-apple-google {
  display: flex;
  padding: 0 4px 0 15px;
}
.app-apple-google img {
  width: 171px;
  height: 50.42px;
}

@media only screen and (max-width: 768px) {
  .app-container {
    width: 80%;
    display: flex;
    flex-direction: column;
  }
  .app-apple-google img {
    width: 251px;
    height: 74px;
  }
}
