.check-out-container {
  width: 71.25rem;
  height: 15.015625rem;
  display: flex;
  margin: 3rem auto;
  padding: 1.5rem 0.9375rem;
  border-top: 0.0625rem solid;
  border-bottom: 0.0625rem solid;
}
.check-out-container-col {
  display: flex;
  width: 50%;
  /* margin-right: 20px; */
}

.check-out-container-img {
  width: 8.90625rem;
  height: 11.890625rem;
  padding: 0 0.9375rem;
}
.check-out-container-img img {
  width: 8.4375rem;
  height: 8.75rem;
}
.check-out-container-text {
  width: 26.71875rem;
  height: 11.890625;
  padding: 0 0.9375rem;
}

.check-out-container-text h3 {
  font-size: 1.5rem;
  margin: 0 0 0.5rem;
}
.check-out-container-text p {
  font-size: 1.25rem;
  margin: 0 0 1.5rem;
}
.check-out-container-text a {
  font-size: 1.09375rem;
  padding: 0.25rem 1.5rem;
  border: 0.0625 solid #0065ff;
  color: #0065ff;
  text-decoration: none;
  line-height: 1.5;
  border-radius: 0.2rem;
}
@media only screen and (max-width: 75rem) {
  /* .check-out-container {
    width: 960;
    border-top: 1px solid;
    border-bottom: 1px solid;
  }

  .check-out-container-img img {
    width: 90px;
  }
  .check-out-container-text {
    width: 360px;
  } */
  .check-out-container {
    /* background-color: darkorange; */
  }
}
@media only screen and (max-width: 61.875rem) {
  /* .check-out-container {
    width: 960px;
    border-top: 1px solid;
    border-bottom: 1px solid;
  } */
  .check-out-container-img {
    display: none;
  }
}
@media only screen and (max-width: 48rem) {
  .check-out-container {
    display: flex;
    flex-direction: column;
    width: 540px;
    height: 378.5px;
    margin-bottom: 24px;
    padding: 0 15px;
    border-top: 1px solid;
    border-bottom: 1px solid;
  }
  .check-out-container-img {
    display: none;
  }
  .check-out-container-text {
    width: 540 px;
    height: 152.25px;
    margin-bottom: 24px;
    padding: 0 15px;
  }
  .check-out-container-text p {
    width: 540px;
  }
}
