.products-container {
  width: 1140px;
  height: 1263.52px;
  margin: 0 auto;
  text-align: center;
  padding: 80px 15px;
  
}

.products-row1 {
  width: 950px;
  height: 208px;
  display: flex;
  flex-direction: column;
  margin: 0 0 0 95px;
  padding: 0 15px;
}
.products-row1 h2 {
  font-size: 36px;
  font-family: "charlie Display" sans-serif;
  margin: 0 0 8px;
}
.products-row1 p {
  font-size: 20px;
  font-family: "charlie Text" sans-serif;
  margin: 0 0 24px;
}
.products-row1-btn {
  margin: 0 0 24px;
}
.products-row1-btn a {
  text-decoration: none;
  background-color: transparent;
  border: 1px solid #0065ff;
  border-radius: 5px;
  padding: 6px 16px;
  font-size: 20px;
  font-family: "charlie Text" sans-serif;
  cursor: pointer;
  transition: all 250ms ease-out 0s;
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid rgb(0, 101, 255);
  color: rgb(0, 101, 255);
}
.products-row1-btn a:hover {
  color: #fff;
  background-color: #0065ff !important;
  border-color: #0065ff !important;
}

.products-row2 {
  width: 1140px;
  height: 778.52px;
}

.products-row2 img {
  width: 1110px;
  height: 778.52px;
}

.products-row3 {
  width: 1140px;
  height: 93px;
  padding: 0 15px;
  font-size: 20px;
  font-family: "charlie Text" sans-serif;
}
.products-row3 p {
  padding: 0 0 24px;
}
.products-footer-svg {
  width: 1110px;
  height: 39px;
}
.products-footer-svg svg {
  margin: 0 16px;
}
/*------------------------------------------------------------------------*/
@media only screen and (max-width: 1200px){

  #products{
    width: 100vw;
    height: auto;
    color: #091e42;
    font-size: 20px;
    font-family: sans-serif;
    background-color: rgb(252, 252, 252);
   
  }
  .products-container{
    width: 100vw;
    height: auto;
    color: #091e42;
    font-size: 20px;
    font-family: sans-serif;
    /* margin: 0px  127px; */
    margin: auto;
    background-color: rgb(252, 252, 252);
   
  }
  .products-row1{
    width: 960px;
    height: 286px;
    color: #091e42;
    padding: 0px 15px;
    margin: auto ;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .products-row1 h2{
    width: 770px;
    height: 96px;
    color: #091e42;
    font-size: 33px;
   /* margin: auto ; */
    font-family: "charlie Display" sans-serif;
  }
  .products-row1 p{
    width: 770px;
    height: 90px;
    color: #091e42;
    font-size: 20px;
    /* margin: auto ; */
  }
  .products-row1-btn{
    width: 770px;
    height: 44px;
    /* margin: auto ; */
  }
  .products-row2{
    width: 960px;
    height: 652px;
    margin: auto;
    padding: 0px 15px;
  }
  .products-row2 img{
    width: 930px;
    height: 652px;
    margin: auto;
  }
  .products-row3 {
    width: 960px;
    height: 93px;
    padding: 0 15px;
    font-size: 20px;
    font-family: "charlie Text" sans-serif;
    margin: auto;
  }
  .products-row3 p {
    padding: 0 0 24px;
  }
  .products-footer-svg {
    width: 930px;
    height: 38px;
  }
  .products-footer-svg svg {
    margin: 0 16px;
  }
}  

/*-----------------------------------------------------------------------*/
@media screen and (max-width: 990px){

  #products{
    width: 100vw;
    height: auto;
    color: #091e42;
    font-size: 20px;
    font-family: sans-serif;
    background-color: rgb(252, 252, 252);
  }
  .products-container{
    width: 728px;
    height: auto;
    color: #091e42;
    font-size: 20px;
    font-family: sans-serif;
    /* margin: 0px  127px; */
    margin: auto;
    padding: 80px 15px;
  }
  .products-row1{
    width: 720px;
    height: 285px;
    color: #091e42;
    padding: 0px 15px;
    margin: auto ;
  }
  .products-row1 h2{
    width: 690px;
    height: 96px;
    color: #091e42;
    font-size: 33px;
    margin: 0px  0px 8px 0px;
    font-family: "charlie Display" sans-serif;
  }
  .products-row1 p{
    width: 690px;
    height: 90px;
    color: #091e42;
    font-size: 20px;
    margin: 0px 0px 24px 0px;
  }
  .products-row1-btn{
    width: 690px;
    height: 44px;
    margin: 0px 0px 24px 0px
  }
  .products-row2{
    width: 720px;
    height: 500px;
    margin: 0px 0px 20px 0px;
    padding: 0px 15px;
  }
  .products-row2 img{
    width: 710px;
    height: 495px;
    margin: auto;
  }
  .products-row3{
    width: 690px;
    height: 60px;
    margin: 0px 0px 24px 0px;
    padding: 0px 0px;
  }
  .products-row3 p{
    width: 690px;
    height: 60px;
    margin: 0px 0px 24px 8px;
    padding: 0px 0px 0px 8px;
  }
  .products-footer-svg{
    width: 690px;
    height: 39px;
  }
}
/*------------------------------------------------------------------------------------*/
@media screen and (max-width: 765px){

  #products{
    width: 100vw;
    height: auto;
    color: #091e42;
    font-size: 20px;
    font-family: sans-serif;
    background-color: rgb(252, 252, 252);
  }

  .products-container{
    width: 100vw;
    height: auto;
    color: #091e42;
    font-size: 20px;
    font-family: sans-serif;
    background-color: rgb(252, 252, 252);
  }
  .products-row1{
    width: 540px;
    height: 284px;
    color: #091e42;
    padding: 0px 15px;
    margin: auto ;
  }
  .products-row1 h2{
    width: 510px;
    height: 64px;
    color: #091e42;
    font-size: 24px;
    margin: 0px  0px 12px 0px;
    font-family: "charlie Display" sans-serif;
  }
  .products-row1 p{
    width: 510px;
    height: 120px;
    color: #091e42;
    font-size: 20px;
    margin: 0px 0px 24px 0px;
  }
  .products-row1-btn{
    width: 510px;
    height: 44px;
    margin: 0px 0px 24px 0px
  }
  .products-row2{
    width: 540px;
    height: 375px;
    /* margin: 0px 0px 24px 0px; */
    margin: auto;
    padding: 0px 15px;
  }
  .products-row2 img{
    width: 510px;
    height: 357px;
    margin: auto;
  }
  .products-row3{
    width: 540px;
    height: 123px;
    padding: 0px 15px;
    margin: auto;
  }
  .products-row3 p{
    width: 510px;
    height: 60px;
    margin: 0px 0px 24px 8px;
    padding: 0px 0px 0px 8px;
  }
  .products-footer-svg{
    width: 510px;
    height: 38px;
    font-size: 15px;
    display: flex;
    align-items: center;
    color: #091e42;
  }
  .products-footer-svg svg {
    margin: 0 15px;
    /* width: 88px; */
    height: 30px;
    
  }
}
/*-----------------------------------------------------------------*/




























