* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.body {
  display: flex;
  flex-direction: column;
  background: linear-gradient(rgb(234, 230, 255), rgb(255, 255, 255));
  font-family: "Charlie Text", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
}
