* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.body {
  display: flex;
  flex-direction: column;
  background: linear-gradient(rgb(234, 230, 255), rgb(255, 255, 255)) no-repeat;
  font-family: "Charlie Text", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 68.25px;
  background-color: rgba(255, 255, 255, 0);
}

.header-logo {
  width: 126px;
  height: 36px;
  margin-left: 20px;
}

.header-sign-in-sign-up {
  display: flex;
}

.header-sign-in a,
.header-sign-in > span {
  align-items: center;
  border-radius: 1px;
  cursor: pointer;
  font-size: 15px;
  padding: 4px 8px;
  text-decoration: none;
}
.header-sign-up a,
.header-sign-up > span {
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
  background-color: rgb(0, 101, 255);
  border: 1px solid rgb(0, 101, 255);
  color: #ffffff;
  text-decoration: none;
  font-size: 15px;
  padding: 6px 8px;
  margin-right: 20px;
}

.content-container {
  /* box-sizing: border-box; */
  display: flex;
  margin-left: 93px;
  margin-right: 93px;
  padding: 112px 15px 80px 15px;
}
.right-content {
  padding: 0 15px;
  margin: 0px -95px 0px 95px;
}
.right-content img {
  width: 445px;
  height: 575px;
}

.left-content {
  width: 635px;
  height: 353px;
  padding: 0 15px;
}
.left-content p {
  margin-bottom: 24px;
  font-size: 20px;
}
.left-content h1 {
  margin-bottom: 8px;
  font-size: 48px;
}

.input-button {
  width: 665px;
  height: 45px;
  display: flex;
  margin: 48px -15px;
}
.email {
  width: 364px;
  height: 45px;
  font-size: 15px;
  padding-left: 15px;
  padding-right: 8px;
  /* padding: 6px 12px; */
  border: 1px solid rgb(223, 225, 230);
  border-radius: 6px;
}
.submit {
  width: 254px;
  height: 45px;
  font-size: 20px;
  font-weight: 500;
  align-items: center;
  cursor: pointer;
  background-color: rgb(0, 101, 255);
  border: 1px solid rgb(0, 101, 255);
  color: #ffffff;
  border-radius: 6px;
  text-decoration: none;
  font-size: 15px;
  padding-left: 8px;
  padding-right: 15px;
  /* padding: 6px 24px; */
  margin-left: 20px;
}

.products-container {
  text-align: center;
  padding-right: 15px;
  padding-left: 15px;
}
.products-row1 {
  display: flex;
  flex-direction: column;
  width: 850px;
  margin: 0 auto;
  margin-top: 50px;
}
.products-row1 p {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 35px;
}
.products-row1-btn {
  text-decoration: none;
  background-color: transparent;
  border: 1px solid #0065ff;
  border-radius: 5px;
  padding: 10px 20px;
}
.products-row1-btn :hover {
  background-color: #0065ff;
  color: #ffff;
}
.products-row2 img {
  width: 900px;
  height: 775px;
}
.feachers-container {
  padding-right: 15px;
  padding-left: 15px;
  margin-top: 60px;
}
.feachers-container-row1 {
  margin-left: 100px;
  margin-bottom: 80px;
  width: 500px;
}
.feachers-container-row2 {
  display: flex;
  margin-left: 80px;
  margin-top: 40px;
}
.feachers-container-row2-col1 {
  width: 445px;
  height: 335px;
  margin-right: 50px;
}
.feachers-container-row2-col2 {
  width: 635px;
  height: 335px;
}
.feachers-container-row3 {
  display: flex;
  margin-left: 80px;
  margin-top: 20px;
  margin-bottom: 30px;
}
.feachers-container-row3-col1 {
  width: 445px;
  height: 335px;
  margin-right: 20px;
}
.feachers-container-row3-col2 img {
  width: 445px;
  height: 361px;
}
.feachers-container-row4 {
  display: flex;
  margin-left: 80px;
  margin-top: 50px;
  margin-bottom: 20px;
}
.feachers-container-row4-col1 img {
  width: 445px;
  height: 336px;
  margin-right: 20px;
}
.feachers-container-row4-col2 {
  width: 500px;
  height: 300px;
}
.feachers-container-row5 {
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 80px;
}
.feachers-container-row5-col1 {
  width: 500px;
  margin-right: 20px;
}
.feachers-container-row5-col2 img {
  width: 445px;
  height: 400px;
}
.check-out-container-row {
  display: flex;
  margin: 48px 93px;
  padding: 24px 15px;
  border-top: 1px solid;
  border-bottom: 1px solid;
}
.check-out-container-col1 {
  display: flex;
  margin-right: 20px;
}

.check-out-container-col2 {
  display: flex;
}

.check-out-container-img {
  padding: 0 15px;
}
/* .check-out-container-text {
  margin-bottom: 50px;
} */
.check-out-container-btn {
  padding: 4px 24px;
  color: #0065ff;
  background-color: transparent;
  border: 1px solid #0065ff;
  text-decoration: none;
}
.customer-stories-container {
  margin-top: 50px;
  margin-bottom: 50px;
  padding-left: 50px;
  background-color: #bed4f7;
}
.frame {
  display: flex;
}
.frame-col1 {
  width: 30%;
}
.frame-col2 {
  width: 60%;
}
ul {
  display: flex;
}
.arrow {
  display: flex;
}
.dot {
  display: flex;
}
.sign-up-container {
  width: 900px;
  height: 200px;
  margin: 0 auto;
  text-align: center;
  color: #ffffff;
  background-image: url(https://d2k1ftgv7pobq7.cloudfront.net/meta/p/res/images/spirit/sign-up/95ae6a1…/background.svg),
    linear-gradient(0deg, #4c9aff, #403294 100%);
}
.sign-up-container-inner-text {
  width: 600px;
  text-align: center;
  margin: 0 auto;
  padding-top: 20px;
}
.inner-text-row2 {
  margin-top: 20px;
}
.inner-text-row2 input[type="email"] {
  width: 300px;
  height: 31px;
  border: 1px solid #fff;
  border-radius: 6px;
}
.inner-text-row2 button[type="submit"] {
  width: 184px;
  height: 35px;
  color: #fff;
  background-color: #00b8d9;
  border-color: #00b8d9;
  border-radius: 10px;
  margin-left: 20px;
}
.app-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 93px;
  margin-left: 93px;
}
.app-apple-google a img {
  width: 171px;
  height: 50px;
}
.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}
.select-container {
  margin-bottom: 20px;
}
.select-container select {
  padding: 8px;
  border: 2px solid #edeff0;
  color: #959da1;
  background-color: rgba(255, 255, 255, 0.5);
  appearance: none;
}

.global-footer-list {
  list-style-type: none;
}
.global-footer-list-item {
  box-sizing: border-box;
  margin: 0 6.4px;
  display: inline-block;
}
.global-footer-list-item-link {
  color: #8993a4;
  text-decoration: underline;
  background-color: transparent;
  font-size: 15px;
}
.global-footer-detail {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  align-items: center;
}
.global-footer-detail-img {
  box-sizing: border-box;
  /* margin: 0 572px; */
  width: 150px;
  height: 18.6px;
  margin-bottom: 20px;
}
